@media screen and (max-width:750px) {
    .left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .netflixlogo {
        margin-bottom: 10px;
    }

    .nav2 {
        display: flex;        
    }

    .a2 {
        margin-right:0;
    }

    .nav-icon {
        margin-bottom: 31px;
    }

    #header {
        padding: 20px;
    }

    .featuremovie {
        padding: 20px;
    }
    
    .carouselmovies {
        padding: 20px;
    }
}

@media screen and (max-width:530px) {
   
    .title {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    #cover {
       max-height: 70%;
    }

    header {
        margin-top: 5px;
    }

    .netflixlogo {
        margin-bottom: 3px;
    }

    .nav {
        font-size: 2vh;
    }

    .a-inicio, .a-series, .a-filmes {
        margin-right: 4px;
    }
    .title {
        width: 80%;
    }
        
    .buttons {
        display: flex;   
    }
    
    .button1, .button2 {
        font-size: 1.8vh;
        padding: 3.5px 15px;
    }

    .button2 {
        margin-right: 0;
    }

    .featuremovie {
        margin-top: -60px;    
    }
}


@media screen and (max-width:390px) {
    .phrase {
        font-size: 2.3vh;
    }

    .left {
        margin-bottom: 5px;
    }

    .netflixlogo {
        width: 11vh;
        margin-bottom: 3px;
    }

    .nav {
        font-size: 2vh;
    }

    .button1, .button2 {
        padding: 3.5px 8px;
    }

    i {
        font-size: 3vh;
    }
}